*{
  border: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}
body{
  background: url("../img/bg.png") no-repeat center;
  font-family: arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}
header{
  margin-top: 30px;
}
#brand{
  float: left;
  color: white;
  margin-left: 50px;
  font-size: 22px;
}
li{
  float: left;
  list-style: none;
  padding-right: 25px;
}
.lstli{
  padding-right: 60px;
}
a{
  text-decoration: none;
  color: #9c9c9c;
  letter-spacing: 2px;
}
#active {
  color: #ffffff;
}
a:hover{
  color: #ffffff;
}
nav{
  float: right;
}
.container{
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
span{
  color: #bdcd00;
}
#front h1{
  clear: both;
  padding-top: 17%;
  color: white;
  font-size: 60px;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  text-transform: uppercase;
}
.blue {
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
	padding: 10px 20px;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 15px;
	color: #FFF;
	text-decoration: none;
}
.btnTop{
  margin-top: 40px;
}
.blue:hover{
  opacity: 0.9;
}
@media only screen and (min-width: 320px) and (max-width:480px){
  #brand{
    float: none;
    text-align: center;
    margin: 0;
  }
  nav{
    text-align: center;
    margin: 0 auto;
    float: none;
  }
  li{
    float: none;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
      padding-right: 10px;
  }
  .lstli{
    padding-right: 0;
  }
  #front h1{
    padding-top: 50px;
    font-size: 35px;
  }
  header{
    margin-top: 25px;
  }
  .btnTop{
    margin-top: 20px;
  }
  .blue {
  	padding: 5px 10px;
  	border-radius: 10px;
  	font-size: 15px;
  }
}
